body{
/*	margin:0 auto;
	width: 750px; */
	padding:10px;
	text-align:left;
	background-color: #CAD2C5;
	font-family: Lucida, Helvetica, Arial;
	color: #222222;
	margin:0px;
	padding:0px;
}

h3{
	line-height: 1.5em;
}

h2{
	text-transform:uppercase;
	font-size:14px;
	letter-spacing:5px;
	font-weight:200;
	
}

p{
	margin-top:5px;
	margin-bottom:5px;
	
}

p.title{
	font-weight: bold;
	font-size: 110%;
	margin-top: 25px;
}

p.description{
	font-weight: 300;
	font-size: 75%;
	margin-left:25px;
}

ul.skills{
	display:inline-block;
	text-align:left;
	font-weight: bold;
	line-height: 1.2em;
}

li{
	margin-bottom:15px;
}

a{
	text-decoration:underline;
	font-weight:bold;
	color:#222222;
}

#wrapper{

}

#container-header{
	padding: 40px;
	background-color:#84A98C;
	height:10%;
	margin: 20px;
	
	
}


#columns {
	display: flex;
	background-color:#354F52;
	color:#DFDFDF;
	margin: 20px;
	

}

#container-left {
	flex-direction:column;
	flex:2;


}

#container-center {
	display: flex;

}

#container-right {
	display: flex;

}

#education-box{
	margin: 10px;
	background-color: #52796F;
	padding:20px;
	padding-left:30px;
}
#skills-box{
	margin: 10px;
	background-color: #52796F;
	padding:20px;
	padding-left:30px;
}
#experience-box{
	margin: 10px;
	background-color: #52796F;
	padding:20px;
	flex:5;
	padding-left:30px;
	flex
}
#container-footer{
	padding: 40px;
	text-align:left;
	background-color:#84A98C;
	height:10%;
	margin: 20px;
}


