body{
	margin:30px;
	backgorund-color:222222
}

#rock{
	width: 150px;
	margin: 5px;
	height:60px;
	background-color:#666666;
	color: white;
	font-size:20px;
	font-weight:bold;
	border:none;
	border-radius:15px;
}

#paper{
	width: 150px;
	margin: 5px;
	height:60px;
	background-color:#666666;
	color: white;
	font-size:20px;
	font-weight:bold;
	border:none;
	border-radius:15px;
}

#scissors{
	width: 150px;
	margin: 5px;
	height:60px;
	background-color:#666666;
	color: white;
	font-size:20px;
	font-weight:bold;
	border:none;
	border-radius:15px;
}